<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>서울여대 X 멋사</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>

</head>

<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="/">
                    <%= image_tag 'home/swulogo.png', :class => "lion_text" %>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#intro">Intro</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#schedule">Schedule</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#reviews">Reviews</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#apply">Apply</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header id="home">
        <div class="header-content">
            <div class="header-content-inner">
				<div class='not_mobile'>

                    <div class='text_png'>
                       <!--<div class='clip'>
                        <%= image_tag 'home/cliplion.png' %>
                       </div>-->
                       <%= image_tag 'home/likelion_gung.png', :class => 'main-image' %>
                    </div>
                    <p>Seoul Women's University </p>
                    <p>Web programming education Club</p>
                    <a href="#intro" class="btn btn-primary btn-xl page-scroll">지원하기</a>
                </div>
			</div>
        </div>
    			<div class='mobile'>
    			</div>
    </header>
     <!-- intro page -->
     <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">INTRO</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box image-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <%= image_tag 'home/likelion_logo.png', :class => 'logo' %>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3 style="margin-top: 10%;">멋쟁이 사자처럼 X 서울여자대학교</h3>
                        <p class="text-muted">안녕하세요 여러분! <멋쟁이사자처럼 서울여자대학교> 홈페이지에 오신 것을 환영합니다.<p/>
                        <p><멋쟁이사자처럼>은 프로그래밍을 단 한 번도 해보지 않은 학생들의 눈높이에서 프로그래밍을 가르치는 프로그래밍 동아리입니다.
                        이제 여러분이 만들고 싶은 IT 서비스를 직접 만들어보세요! 비전공자와 전공자 모두가 참여할 수 있으며 전국 연합 동아리의 재미도 느낄 수 있습니다.
                        2016년 멋쟁이사자처럼 4기에 많이 도전해주세요!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- schedule page -->
    <section id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading text-white">4기 일정</h2>
                    <hr class="light">
                    <div class='not_mobile2'>
                        <%= image_tag 'home/schedule3.png', :class => 'schedule-size' %>
                    </div>
                </div>

                <div class='mobile2'>
    			</div>

            </div>
        </div>
    </section>
    <!-- review page -->
    <section id="reviews">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">3기 후기</h2>
                    <hr class="primary">
                </div>
            </div>
            <!-- image slider -->
            <div class="col-lg-12 text-center">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <%= image_tag 'profile/01.png', :class => 'schedule-size' %>
                            <p class="review-name"><br><strong>김나영</strong></p><p class="review-major">의류학과</p>
                            <p class="review-font">학교에서 들었던 험난한 c언어때문에 코딩에 대한 두려움이 컸었습니다. 하지만 학교에서 배울때보다 훨씬 쉽게 알려주는 멋쟁이사자처럼덕분에 두려움없이 즐겁게 코딩을 입문했습니다. 의류학과가 코딩이라니! 멋사가 없었다면 일어날 수 없었던 일이겠죠?</p>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <%= image_tag 'profile/02.png', :class => 'schedule-size' %>
                            <p class="review-name"><br><strong>박인영</strong></p><p class="review-major">국어국문학과</p>
                            <p class="review-font">막학기에 들었던 멋쟁이 사자처럼을 통해서 개발자와 소통하는 기획자의 꿈에 한걸음 더 가까워질 수 있었습니다. 인문대생 비전공자도 쉽게 따라갈 수 있는 커리큘럼,  그리고 학교 친구들과의 프로젝트 모두 정말 재미있었습니다♡</p>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <%= image_tag 'profile/03.png', :class => 'schedule-size' %>
                            <p class="review-name"><br><strong>신이나</strong></p><p class="review-major">경영학과</p>
                            <p class="review-font">우리의 아이디어, 우리의 상상을 현실로!! 기획,개발,디자인 0에서 100까지의 모든 과정을 경험 할 수 있었어요. 공통의 관심사와 열정으로 모여 밤낮으로 함께했던 시간들,오랫동안 기억될 2015년 여름이었습니다!</p>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <%= image_tag 'profile/04.png', :class => 'schedule-size' %>
                            <p class="review-name"><br><strong>유지혜</strong></p><p class="review-major">경영학과</p>
                            <p class="review-font">멋쟁이사자처럼을 하면서 포기했던 코딩을 다시 시작하게 되었습니다. 전공자가 아니여도 개발을 할 수 있단 생각을 가지게 되었습니다!!</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <%= image_tag 'profile/05.png', :class => 'schedule-size' %>
                            <p class="review-name"><br><strong>정혜윤</strong></p><p class="review-major">경영학과</p>
                            <p class="review-font">멋사를 만나기 전에는 아이디어를 내고, 기획서를 쓰는 것이 전부였어요. 하지만 코딩을 배운 뒤에는 아이디어를 직접 실행할 수 있었습니다. 비전공자들이 모여 웹서비스를 기획부터 개발까지 한 것은 정말 잊을 수 없는 경험이에요.</p>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <%= image_tag 'profile/06.png', :class => 'schedule-size' %>
                            <p class="review-name"><br><strong>주연경</strong></p><p class="review-major">인터렉션디자인</p>
                            <p class="review-font">디자이너로서 그래픽 표현에 만족해야 했던 내 아이디어를 직접 실제 서비스로 구현해 본다는 것. 상상이 가나요? 그것도 단 8주만에! 멋쟁이 사자처럼은 작년 여름 저에게 정말 뜨겁고 짜릿한 경험이었습니다.</p>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <%= image_tag 'profile/07.png', :class => 'schedule-size' %>
                            <p class="review-name"><br><strong>권예지</strong></p><p class="review-major">정보보호학과</p>
                            <p class="review-font">멋사를 하면서 코딩에 정말 많은 자신감이 생겼습니다. 또 배운 내용 외에도 스스로 찾아보며 응용하는 많은 분 들을 보며 좋은 자극도 받을 수 있었습니다! 4기 분들도 이런 알참 꼭 느끼셨으면 좋겠습니다.</p>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <%= image_tag 'profile/08.png', :class => 'schedule-size' %>
                            <p class="review-name"><br><strong>김경민</strong></p><p class="review-major">경영학과</p>
                            <p class="review-font">상상만 해 보았던 것을 미약하게나마 만들어볼 수 있음은 큰 기쁨이었습니다. 프로그래밍을 떠나서도 더 좋은 학교, 더 좋은 세상을 위해 동문들과 무언가를 기획할 수 있었던 행복한 경험이었습니다.</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <%= image_tag 'profile/09.png', :class => 'schedule-size' %>
                            <p class="review-name"><br><strong>류해민</strong></p><p class="review-major">컴퓨터학과</p>
                            <p class="review-font">전공과 맞지 않는 것 같아 고민을 하던 전 멋사 3기 활동을 통해 코딩하는 참 재미를 알게 되었습니다. 누구나 엄청난 가능성을 가진 서비스를  만들 수 있다는 확신을 얻었습니다.  무엇보다도 뛰어난 실력과 센스를 가진 사람들인 멋쟁이 사자들을 만나고 함께 배울 수 있어 즐거웠습니다. 멋사 대박 강추!!</p>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <%= image_tag 'profile/10.png', :class => 'schedule-size' %>
                            <p class="review-name"><br><strong>석승연</strong></p><p class="review-major">경영학과</p>
                            <p class="review-font">몇 주밖에 수업을 듣지 못했지만 그 수업으로 홈페이지를 내손으로 직접 구현할수있게 됐다는게 아직도 믿겨지지가 않아요~!</p>
                        </div>
                    </div>
                  </div>

                  <!-- Controls
                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <%= image_tag 'home/chevron-left.png', :class => "glyphicon" %>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <%= image_tag 'home/chevron-right.png', :class => "glyphicon" %>
                    <span class="sr-only">Next</span>
                  </a>-->
                </div>

            </div>
            <!-- END image slider-->
        </div>
    </section>
    <!-- services page -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading text-white">3기가 만든 서비스</h2>
                    <hr class="light">
                </div>
                <div style="margin-top: 10%;">
                    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                        <a href="#serviece1" data-toggle="modal"><%= image_tag 'home/logo1.png', :class => "service-logo" %></a>
                        <div class="caption">
                            <p class="service-font">"함께 만들어가는 공예재료시장의 길잡이"</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                        <a href="#serviece2" data-toggle="modal"><%= image_tag 'home/logo2.png', :class => "service-logo" %></a>
                        <div class="caption">
                            <p class="service-font">"복잡한 회비관리 원페이지로 한방에!"</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                        <a href="#serviece3" data-toggle="modal"><%= image_tag 'home/logo3.png', :class => "service-logo" %></a>
                        <div class="caption">
                            <p class="service-font">"돈 빌림 개인관리 서비스"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- apply -->
    <aside class="bg-dark" id="apply">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>3월 부터 지원가능!</h2>
                <a href="http://likelion.net/" class="btn btn-default btn-xl wow tada">지원하기</a>
            </div>
        </div>
    </aside>
    <!-- contact -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contact us</h2>
                    <hr class="primary">
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3><a href="mailto:swulikelion@gmail.com">swulikelion@gmail.com</a></h3>
                </div>
                <div class="col-lg-12 text-center" style="margin-top: 5px;">
                    <p style="margin-bottom: 2px;">멋사에 대한 궁금하신 점이 있으시면 연락주세요! 멋사 서울여대 운영진이 직접 답변해드립니다.</p>
                    <p class="notice">*4기 지원 접수는 4기 일정에 공지된 지원기간에만 접수됩니다.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Modal1 -->
    <div class="modal fade" id="serviece1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <%= image_tag 'home/serviece1.png', :class => "service-size" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal2 -->
    <div class="modal fade" id="serviece2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <%= image_tag 'home/serviece2.png', :class => "service-size" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal3 -->
    <div class="modal fade" id="serviece3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <%= image_tag 'home/serviece3.png', :class => "service-size" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
</body>

</html>
